
@{
    ViewBag.Title = "Index";
}

<h2>Shippers</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>ShipperID</th>
        <th>CamponyName</th>
        <th>Phone</th>
    </tr>
</table>
