
@{
    ViewBag.Title = "Index";
}

<h2>Suppliers</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>SupplierID</th>
        <th>CompnayName</th>
        <th>ContactName</th>
        <th>ContactTitle</th>
    </tr>
</table>
