
@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>EmployeeID</th>
        <th>LastName</th>
        <th>FirstName</th>
        <th>Title</th>
        <th>TitleOfCourtney</th>
        <th>BirthDate</th>
        <th>HireDate</th>
    </tr>
</table>