
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>CustomerID</th>
        <th>CamponyName</th>
        <th>ContactTitle</th>
        <th>Address</th>
        <th>City</th>
        <th>Region</th>
        <th>PostalCodee</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
    </tr>
</table>

