
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>CategoryID</th>
        <th>CategoryName</th>
        <th>Description</th>
        <th>Pictures</th>
    </tr>
</table>

