
@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>OrderID</th>
        <th>CustomerID</th>
        <th>EmployeeID</th>
        <th>OrderDate</th>
        <th>City</th>
    </tr>
</table>