
@{
    ViewBag.Title = "Index";
}

<h2>OrderDetails</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>OrderID</th>
        <th>ProductID</th>
        <th>UnitPrice</th>
        <th>Quantity</th>
        <th>Discount</th>
    </tr>
</table>
