
@{
    ViewBag.Title = "Index";
}

<h2>Product</h2>
<table class="table table-bordered">
    <tr class="danger">
        <th>ProductID</th>
        <th>ProductName</th>
        <th>SupplierID</th>
        <th>CategoryID</th>

    </tr>
</table>
